{% extends 'base.html' %}
{% load static %}

{% if user.is_authenticated %}

{% block dashboard %}

<div class="container-fluid">
    <h1 class="p-5"> Your Calendar</h1>
      <button class="btn btn-md btn-md btn--size btn-success m-1" id="authorize_button" onclick="handleAuthClick()">Authorize</button>
      <button id="signout_button" onclick="handleSignoutClick()">Sign Out</button>
      <div id="dashboard" class="d-flex flex-row justify-content-center dashboard-border--shadow dashboard--bg-color p-3 p-lg-5 mx-auto">
        <!--Add buttons to initiate auth sequence and sign out-->
            <div class="content"></div>
            <iframe src="https://calendar.google.com/calendar/embed?src=usertesting573%40gmail.com"
                style="border: 0" width="100%" height="600"></iframe>
            <pre id="content" style="white-space: pre-wrap;"></pre>
    </div>
</div>


{% endblock %}
{% endif %}

{% block scripts %}

<script type="text/javascript">
    const GOOGLE_CLIENT_ID = "{{ GOOGLE_CLIENT_ID }}";
    const GOOGLE_API_KEY = "{{ GOOGLE_API_KEY }}";
</script>
<script type="text/javascript" src="{% static 'js/calendar.js' %}"></script>
<script src="https://apis.google.com/js/api.js" onload="gapiLoaded()"></script>
<script src="https://accounts.google.com/gsi/client" onload="gisLoaded()"></script>
{% endblock %}