{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}

{% load crispy_forms_tags %}
{% crispy metrics_form metrics_form.helper %}
{% crispy activity_form activity_form.helper %}
{% crispy nutrition_form nutrition_form.helper %}

{% if user.is_authenticated %}

{% block dashboard %}

<div class="col-xs-9">
       <!-- displaying Django messages -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <!-- Don't display signed in and out messages -->
                {% if "signed" in message|safe %} 
                {% else %}
                <div class="alert {{ message.tags }} alert-dismissible
                fade show" id="msg" role="alert">
                {{ message | safe }}
                <button type="button" class="btn-close"
                    data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <h1 class="p-5"> Your Summary</h1>
    <div id="dashboard" class="container-fluid d-flex flex-row justify-content-center dashboard-border--shadow dashboard--bg-color p-3 p-lg-5 mx-auto">
        <div class="row gy-4">
            <!-- Profile Card -->
            <div class="card col-md-12 col-lg-6 dashboard-item-border--shadow bg-light" >
                <div class="card-body row">
                    <h3 class="card-title">Profile</h3>
                    <div class="col-lg-6">
                        <h5> Current Metrics </h5>
                        <!-- <form class="hide-show-metrics d-none" method="post"> -->
                            {% crispy metrics_form %}
                            {% csrf_token %}
                        <!-- </form> -->
                        <p class="card-text"> 
                            <span class="show-hide-metrics"> Weight: </span> 
                            <span class="show-hide-metrics text-primary fw-bold" id="weight-val">{{ weight }}</span>
                            <span class="show-hide-metrics text-primary fw-bold"> kg </span> <br>
                            <span> BMI: </span> <span class="text-primary fw-bold"> {{ bmi }} </span> <br>
                            <span> BMR: </span> <span class="text-primary fw-bold"> {{ bmr }} Cal/day </span> <br>
                            <span> Classification: </span> <span class="text-primary fw-bold"> {{ classification }} </span>
                        </p>
                        <hr class="h-divider h-divider--orange">
                        <h5> Recommended Metrics </h5>
                        <p class="card-text"> 
                            <span> Weight: </span> 
                            <span class="fw-bold">{{ weight_rec }}</span>
                            <span class="fw-bold"> kg </span>  <br>
                            <span> BMI: </span> <span class="fw-bold"> {{ bmi_rec }} </span> <br>
                            <span> BMR: </span> <span class="fw-bold"> {{ bmr_rec }} Cal/day </span> <br>
                            <span> Classification: </span> <span class="fw-bold"> Normal </span>
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <hr class="h-divider h-divider--orange d-lg-none">
                        <h5> Target Metrics </h5>
                        <p class="card-text"> 
                            <span class="show-hide-metrics"> Weight: </span> 
                            <span class="show-hide-metrics text-success fw-bold" id="weight-target-val">{{ weight_target }}</span>
                            <span class="show-hide-metrics text-success fw-bold"> kg </span>  <br>
                            <span> BMI: </span> <span class="text-success fw-bold"> {{ bmi_target }} </span> <br>
                            <span> BMR: </span> <span class="text-success fw-bold"> {{ bmr_target }} Cal/day </span> <br>
                            <span> Classification: </span> <span class="text-success fw-bold"> {{ classification_target }} </span>
                        </p>
                        <hr class="h-divider h-divider--orange">

                        <p class="card-text"> 
                            {% if weight|sub:weight_target > 0 %}
                            You are <strong>{{ weight|sub:weight_target }}</strong> kg away from your target, <br>
                            {% elif weight|sub:weight_target < 0 %}
                            You are <strong>{{ weight|sub:weight_target|abs }}</strong> kg ahead of your target, <br>
                            {% else %}
                            <strong> You reached your target. Congratulations! </strong> <br>
                            {% endif %}
                            {% if weight|sub:weight_rec > 0 %}
                            and <strong>{{ weight|sub:weight_rec }}</strong> kg away from the recommended metrics <br>
                            {% elif weight|sub:weight_rec < 0 %}
                            and <strong>{{ weight|sub:weight_rec|abs }}</strong> kg ahead of the recommended metrics <br>
                            {% else %}
                            <strong> You reached the recommended metrics. Congratulations! </strong> <br>
                            {% endif %}
                            Keep Going! <i class="fa-solid fa-person-running"></i>
                        </p>
                    </div>
                </div>
                <div class="align-self-end pb-3 show-hide-metrics">
                    <a href="{% url 'profile' %}" class="btn btn-md btn--size btn-primary m-1" role="button"> View Details </a>
                    <button type="button" class="btn btn-update btn-md btn--size btn-success m-1" id="btn-update-metrics" aria-label="Update"> Update Metrics </button>
                    <button type="button" class="btn btn-delete btn-md btn--size btn-danger m-1" id="btn-delete-profile" aria-label="Delete">Delete</button>
                </div>
            </div>

            <!-- Calendar Card -->
            <div class="card col-md-12 col-lg-6 bg-light dashboard-item-border--shadow" >
                <iframe src="https://calendar.google.com/calendar/embed?src=usertesting573%40gmail.com&ctz=Europe%2FBerlin"
                    style="border: 0" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
                <button class="btn btn-md btn-md btn--size btn-success m-1 d-none" id="authorize_button" onclick="handleAuthClick()">Authorize</button>
                <button class="d-none" id="signout_button" onclick="handleSignoutClick()">Sign Out</button>
            </div>

            <!-- Activity Card -->
            <div class="card col-md-12 col-lg-6 dashboard-item-border--shadow bg-light" >
                <div class="card-body row">
                    <h3 class="card-title">Activity</h3>
                    <div class="col-lg-6">
                        <h5> Last Activity </h5>
                        <form class="hide-show-activity d-none" method="post">
                            {% crispy activity_form %}
                            {% csrf_token %}
                        </form>
                        {{ CAL_BURN_API_KEY|json_script:"calBurnAPI" }}
                        <p class="card-text show-hide-activity"> 
                            <span> Activity: </span> 
                            <span class="text-primary fw-bold">{{ activity }}</span> <br>
                            <span> Duration: </span>
                            <span class="text-primary fw-bold"> {{ duration }} </span> 
                            <span class="text-primary fw-bold"> min </span> <br>
                            <span> Distance: </span>
                            <span class="text-primary fw-bold {% if distance is None %} ddash {% endif %}"> {{ distance }} </span> 
                            <span class="text-primary fw-bold"> km </span> <br>
                        </p>
                    </div>
                    <div class="col-lg-6 d-flex flex-column">
                        <hr class="h-divider h-divider--orange d-lg-none">
                        <h5 class="mx-auto show-hide-activity"> You burnt </h5>
                        <span class="text-success fw-bold mx-auto show-hide-activity"><h3> {{ calories_burnt }} </h3></span>
                        <span class="text-success fw-bold mx-auto show-hide-activity"> Calories </span>
                    </div>
                </div>
                <div class="align-self-end pb-3 show-hide-activity">
                    <a href="{% url 'activity' %}" class="btn btn-md btn--size btn-primary m-1" role="button"> View History </a>
                    <button type="button" class="btn btn-update btn-md btn--size btn-success m-1" id="btn-update-activity" aria-label="Update"> New Session </button>
                    <button type="button" class="btn btn-delete btn-md btn--size btn-danger m-1" id="btn-delete-activity" aria-label="Delete">Delete</button>
                </div>
            </div>

             <!-- Nutrition Card -->
             <div class="card col-md-12 col-lg-6 dashboard-item-border--shadow bg-light" >
                <div class="card-body row">
                    <h3 class="card-title">Nutrition</h3>
                    <div class="col-lg-6">
                        <h5> Last Meal </h5>
                        <form class="hide-show-nutrition d-none" method="post">
                            {% crispy nutrition_form %}
                            {% csrf_token %}
                        </form>
                        <p class="card-text show-hide-nutrition"> 
                            <span> Food: </span> 
                            <span class="text-primary fw-bold">{{ food_item }}</span> <br>
                            <span> Serving: </span>
                            <span class="text-primary fw-bold"> {{ portion }} </span>
                            <span class="text-primary fw-bold"> g </span> <br>
                            <span> Protein: </span>
                            <span class="text-primary fw-bold"> {{ protein }} </span> 
                            <span class="text-primary fw-bold"> g </span> <br>
                            <span> Carbohydrate: </span>
                            <span class="text-primary fw-bold"> {{ carbs }} </span> 
                            <span class="text-primary fw-bold"> g </span> <br>
                            <span> Fats: </span>
                            <span class="text-primary fw-bold"> {{ fats }} </span> 
                            <span class="text-primary fw-bold"> g </span> <br>
                        </p>
                    </div>
                    <div class="col-lg-6 d-flex flex-column">
                        <hr class="h-divider h-divider--orange d-lg-none">
                        <h5 class="mx-auto show-hide-nutrition"> Your intake </h5>
                        <span class="text-danger fw-bold mx-auto show-hide-nutrition"><h3> {{ calories_intake }} </h3></span>
                        <span class="text-danger fw-bold mx-auto show-hide-nutrition"> Calories </span>
                    </div>
                </div>
                <div class="align-self-end pb-3 show-hide-nutrition">
                    <a href="{% url 'nutrition' %}" class="btn btn-md btn--size btn-primary m-1" role="button"> View History </a>
                    <button type="button" class="btn btn-update btn-md btn--size btn-success m-1" id="btn-update-nutrition" aria-label="Update"> New Session </button>
                    <button type="button" class="btn btn-delete btn-md btn--size btn-danger m-1" id="btn-delete-nutrition" aria-label="Delete">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete confirmation modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete entry?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this entry?
                    This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% else %}
{% block content %}

<!-- Signup -->
<section>
    <div class="container-fluid position-relative d-flex px-0 image-home--bg-color">

        <div class="position-absolute text--overlay top-50 start-50 translate-middle">
            <h1 class="text-white text-center"> Sign Up for a personalized experience!</h1>
            <a href="{% url 'account_signup' %}" class="text-white btn btn-lg btn--red btn--center" role="button"> Get Started! </a>
        </div>

        <div class="skewed col-lg-3 col-md-6 d-none d-md-block">
            <div class="image-home" id="image-swim"></div>
        </div>

        <div class="skewed col-lg-3 d-none d-lg-block">
            <div class="image-home" id="image-lift"></div>
        </div>

        <div class="skewed col-lg-3 col-md-6 col-12">
            <div class="image-home" id="image-run"></div>
        </div>

        <div class="skewed col-lg-3 d-none d-lg-block">
            <div class="image-home" id="image-kayak"></div>
        </div>
    </div>
</section>

<!-- Features -->
<section>
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-md-6 col-sm-12 text-center my-auto">
                <h2 class="text-uppercase "> Set Goals <br> Log Activity & Nutrition <br> Stay on track </h2>
                <a href="{% url 'account_signup' %}" class="btn text-white btn btn-lg btn--red mt-3" role="button"> Try it now! </a>
            </div>
            <div class="col-6 d-none d-md-block my-5">
                <div class="image-box" id="image-trend"></div>
            </div>
        </div>
    </div>
    <!-- to avoid calendar errors in log -->
    <button class="btn btn-md btn-md btn--size btn-success m-1 d-none" id="authorize_button" onclick="handleAuthClick()">Authorize</button>
    <button class="d-none" id="signout_button" onclick="handleSignoutClick()">Sign Out</button>
</section>

{% endblock %}
{% endif %}


{% block scripts %}

<script>
  const GOOGLE_CLIENT_ID = "{{ GOOGLE_CLIENT_ID }}";
  const GOOGLE_API_KEY = "{{ GOOGLE_API_KEY }}";
</script>
<script src="{% static 'js/calendar.js' %}"></script>
<script async defer src="https://apis.google.com/js/api.js" onload="gapiLoaded()"></script>
<script async defer src="https://accounts.google.com/gsi/client" onload="gisLoaded()"></script>

{% endblock %}