{% extends 'base.html' %}
{% load static %}


{% if user.is_authenticated %}

{% block dashboard %}


<div class="container-fluid">
    <h1 class="p-5"> Your Summary</h1>

    <div id="dashboard" class=" dashboard--bg-color container d-flex flex-row justify-content-center dashboard-border--shadow p-5 mx-auto">
        <div class="row gy-2" >
            <div class="card col-md-12 col-lg-6 bg-light dashboard-item-border--shadow" >
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Profile</h5>
                    <p class="card-text"> 
                        <span> Weight: </span> <span> 90 kg </span> <br>
                        <span> Height: </span> <span> 190 m </span> <br>
                        <span> BMI: </span> <span> {{ bmi }} </span>
                    </p>
                    <div class="align-self-end">
                        <button href="#" class="btn btn-md btn-primary"> View History </button>
                        <button href="#" class="btn btn-md btn-success"> Update Measures </button>
                    </div>
                </div>
            </div>
            <div class="card col-md-12 col-lg-6 bg-light dashboard-item-border--shadow" >
                <div class="card-body">
                    <h5 class="card-title">Calendar</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, explicabo a. Voluptates, quam commodi provident asperiores ipsam odio magnam necessitatibus laborum amet soluta architecto saepe, dignissimos sit vitae, unde similique?
                    </p>
                    <a href="#" class="card-link">Card link</a>
                </div>
            </div>
            <div class="card col-md-12 col-lg-6 bg-light dashboard-item-border--shadow" >
                <div class="card-body">
                    <h5 class="card-title">Activity</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, explicabo a. Voluptates, quam commodi provident asperiores ipsam odio magnam necessitatibus laborum amet soluta architecto saepe, dignissimos sit vitae, unde similique?
                    </p>
                    <a href="#" class="card-link">Card link</a>
                </div>
            </div>
            <div class="card col-md-12 col-lg-6 bg-light dashboard-item-border--shadow" >
                <div class="card-body">
                    <h5 class="card-title">Nutrition</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button class="btn btn-md btn-primary"> View History </button>
                    <button class="btn btn-md btn-success"> New Session </button>
                </div>
            </div>
        </div>
        
        
    </div>
</div>



{% endblock %}

{% else %}

{% block content %}

<!-- Signup -->
<section>
    <div class="container-fluid position-relative d-flex px-0 image-home--bg-color">

        <div class="position-absolute text-overlay top-50 start-50 translate-middle">
            <h1 class="text-white text-center"> Sign Up for a personalized experience!</h1>
            <button class="text-white btn btn-lg btn--red btn--center" data-toggle="modal" data-target="#signUpModal">Get Started!</button>
        </div>

        <div class="skewed col-lg-3 col-md-6 d-none d-md-block">
            <div class="image-home" id="image-swim"></div>
        </div>

        <div class="skewed col-lg-3 d-none d-lg-block">
            <div class="image-home" id="image-lift"></div>
        </div>

        <div class="skewed col-lg-3 col-md-6 col-12">
            <div class="image-home" id="image-run"></div>
        </div>

        <div class="skewed col-lg-3 d-none d-lg-block">
            <div class="image-home" id="image-kayak"></div>
        </div>
    </div>
</section>

<!-- Features -->
<section>
    <div class="container-fluid mt-3">

        <div class="row">
            <div class="col-md-6 col-sm-12 text-center my-auto">
                <h2 class="text-uppercase "> Set Goals <br> Log Activity & Nutrition <br> Stay on track </h2>
                <button class="text-white btn btn-lg btn--red mt-3" data-toggle="modal" data-target="#signUpModal">Try it now!</button>
            </div>
            <div class="col-6 d-none d-md-block mt-5">
                <div class="image-box" id="image-trend"></div>

            </div>
        </div>
    </div>
</section>


<!-- Reviews -->
<section>
    <div class="container-fluid mt-3">
        
        <div class="row">
            <div class="col-3 text-center my-auto">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>

            <div class="col-3 text-center my-auto">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>

            <div class="col-3 text-center my-auto">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <p> The app is awesome! </p>
            </div>

            <div class="col-3 text-center my-auto">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% endif %}

