{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}

{% load crispy_forms_tags %}
{% crispy metrics_form metrics_form.helper %}
{% crispy activity_form activity_form.helper %}
{% crispy nutrition_form nutrition_form.helper %}

{% if user.is_authenticated %}

{% block dashboard %}

<div class="col-xs-9">
       <!-- displaying Django messages -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible
                fade show" id="msg" role="alert">
                {{ message | safe }}
                <button type="button" class="btn-close"
                    data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <h1 class="p-5"> Your Summary</h1>
    <div id="dashboard" class="container-fluid d-flex flex-row justify-content-center dashboard-border--shadow dashboard--bg-color p-3 p-lg-5 mx-auto">
        <div class="row gy-4">
            <!-- Profile Card -->
            <div class="card col-md-12 col-lg-6 dashboard-item-border--shadow bg-light" >
                <div class="card-body row">
                    <h3 class="card-title">Profile</h3>
                    <div class="col-lg-6">
                        <h5> Current Metrics </h5>
                        <form class="hide-show d-none" method="post">
                            {% crispy metrics_form %}
                            {% csrf_token %}
                        </form>
                        <p class="card-text"> 
                            <span class="show-hide"> Weight: </span> 
                            <span class="show-hide text-primary fw-bold" id="weight-val">{{ weight }}</span>
                            <span class="show-hide text-primary fw-bold"> kg </span> <br>
                            <span> BMI: </span> <span class="text-primary fw-bold"> {{ bmi }} </span> <br>
                            <span> BMR: </span> <span class="text-primary fw-bold"> {{ bmr }} Cal/day </span> <br>
                            <span> Classification: </span> <span class="text-primary fw-bold"> {{ classification }} </span>
                        </p>
                        <hr class="h-divider h-divider--orange">
                        <h5> Recommended Metrics </h5>
                        <p class="card-text"> 
                            <span> Weight: </span> 
                            <span class="fw-bold">{{ weight_rec }}</span>
                            <span class="fw-bold"> kg </span>  <br>
                            <span> BMI: </span> <span class="fw-bold"> {{ bmi_rec }} </span> <br>
                            <span> BMR: </span> <span class="fw-bold"> {{ bmr_rec }} Cal/day </span> <br>
                            <span> Classification: </span> <span class="fw-bold"> Normal </span>
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <hr class="h-divider h-divider--orange d-lg-none">
                        <h5> Target Metrics </h5>
                        <p class="card-text"> 
                            <span class="show-hide"> Weight: </span> 
                            <span class="show-hide text-success fw-bold" id="weight-target-val">{{ weight_target }}</span>
                            <span class="show-hide text-success fw-bold"> kg </span>  <br>
                            <span> BMI: </span> <span class="text-success fw-bold"> {{ bmi_target }} </span> <br>
                            <span> BMR: </span> <span class="text-success fw-bold"> {{ bmr_target }} Cal/day </span> <br>
                            <span> Classification: </span> <span class="text-success fw-bold"> {{ classification_target }} </span>
                        </p>
                        <hr class="h-divider h-divider--orange">

                        <p class="card-text"> 
                            You are <strong>{{ weight|sub:weight_target }}</strong> kg away from your target, <br>
                            and <strong>{{ weight|sub:weight_rec }}</strong> kg away from the recommended metrics <br>
                            Keep Going! <i class="fa-solid fa-person-running"></i>
                        </p>
                    </div>
                </div>
                <div class="align-self-end pb-3 hide-show">
                    <a href="{% url 'profile' %}" class="btn btn-md btn--size btn-primary m-1" role="button"> View Details </a>
                    <button type="button" class="btn btn-update btn-md btn--size btn-success m-1" aria-label="Update"> Update Metrics </button>
                    <button type="button" class="btn btn-delete btn-md btn--size btn-danger m-1" aria-label="Delete">Delete</button>
                </div>
            </div>

            <!-- Calendar Card -->
            <div class="card col-md-12 col-lg-6 bg-light dashboard-item-border--shadow" >
                <div class="card-body">
                    <h5 class="card-title">Calendar</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, explicabo a. Voluptates, quam commodi provident asperiores ipsam odio magnam necessitatibus laborum amet soluta architecto saepe, dignissimos sit vitae, unde similique?
                    </p>
                    <a href="#" class="card-link">Card link</a>
                </div>
            </div>

            <!-- Activity Card -->
            <div class="card col-md-12 col-lg-6 dashboard-item-border--shadow bg-light" >
                <div class="card-body row">
                    <h3 class="card-title">Activity</h3>
                    <div class="col-lg-6">
                        <h5> Last Activity </h5>
                        <form class="hide-show d-none" method="post">
                            {% crispy activity_form %}
                            {% csrf_token %}
                        </form>
                        {{ CAL_BURN_API_KEY|json_script:"calBurnAPI" }}
                        <p class="card-text"> 
                            <span class="show-hide"> Activity: </span> 
                            <span class="show-hide text-primary fw-bold">{{ activity }}</span> <br>
                            <span class="show-hide"> Duration: </span>
                            <span class="show-hide text-primary fw-bold"> {{ duration }} </span> 
                            <span class="show-hide text-primary fw-bold"> min </span> <br>
                            <span class="show-hide"> Distance: </span>
                            <span class="show-hide text-primary fw-bold {% if distance is None %} ddash {% endif %}"> {{ distance }} </span> 
                            <span class="show-hide text-primary fw-bold"> km </span> <br>
                        </p>
                    </div>
                    <div class="col-lg-6 d-flex flex-column">
                        <hr class="h-divider h-divider--orange d-lg-none">
                        <h5 class="mx-auto show-hide"> You burnt </h5>
                        <span class="text-success fw-bold mx-auto show-hide"><h3> {{ calories_burnt }} </h3></span>
                        <span class="text-success fw-bold mx-auto show-hide"> Calories </span>
                    </div>
                </div>
                <div class="align-self-end pb-3 hide-show">
                    <a href="{% url 'activity' %}" class="btn btn-md btn--size btn-primary m-1" role="button"> View History </a>
                    <button type="button" class="btn btn-update btn-md btn--size btn-success m-1" aria-label="Update"> New Session </button>
                    <button type="button" class="btn btn-delete btn-md btn--size btn-danger m-1" aria-label="Delete">Delete</button>
                </div>
            </div>

             <!-- Nutrition Card -->
             <div class="card col-md-12 col-lg-6 dashboard-item-border--shadow bg-light" >
                <div class="card-body row">
                    <h3 class="card-title">Nutrition</h3>
                    <div class="col-lg-6">
                        <h5> Last Meal </h5>
                        <form class="hide-show d-none" method="post">
                            {% crispy nutrition_form %}
                            {% csrf_token %}
                        </form>
                        <p class="card-text"> 
                            <span class="show-hide"> Food: </span> 
                            <span class="show-hide text-primary fw-bold">{{ food_item }}</span> <br>
                            <span class="show-hide"> Serving: </span>
                            <span class="show-hide text-primary fw-bold"> {{ portion }} </span>
                            <span class="show-hide text-primary fw-bold"> g </span> <br>
                            <span class="show-hide"> Protein: </span>
                            <span class="show-hide text-primary fw-bold"> {{ protein }} </span> 
                            <span class="show-hide text-primary fw-bold"> g </span> <br>
                            <span class="show-hide"> Carbohydrate: </span>
                            <span class="show-hide text-primary fw-bold"> {{ carbs }} </span> 
                            <span class="show-hide text-primary fw-bold"> g </span> <br>
                            <span class="show-hide"> Fats: </span>
                            <span class="show-hide text-primary fw-bold"> {{ fats }} </span> 
                            <span class="show-hide text-primary fw-bold"> g </span> <br>
                        </p>
                    </div>
                    <div class="col-lg-6 d-flex flex-column">
                        <hr class="h-divider h-divider--orange d-lg-none">
                        <h5 class="mx-auto show-hide"> Your intake </h5>
                        <span class="text-danger fw-bold mx-auto show-hide"><h3> {{ calories_intake }} </h3></span>
                        <span class="text-danger fw-bold mx-auto show-hide"> Calories </span>
                    </div>
                </div>
                <div class="align-self-end pb-3 hide-show">
                    <a href="{% url 'nutrition' %}" class="btn btn-md btn--size btn-primary m-1" role="button"> View History </a>
                    <button type="button" class="btn btn-update btn-md btn--size btn-success m-1" aria-label="Update"> New Session </button>
                    <button type="button" class="btn btn-delete btn-md btn--size btn-danger m-1" aria-label="Delete">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% else %}

{% block content %}

<!-- Signup -->
<section>
    <div class="container-fluid position-relative d-flex px-0 image-home--bg-color">

        <div class="position-absolute text--overlay top-50 start-50 translate-middle">
            <h1 class="text-white text-center"> Sign Up for a personalized experience!</h1>
            <a href="{% url 'account_signup' %}" class="text-white btn btn-lg btn--red btn--center" role="button"> Get Started! </a>
        </div>

        <div class="skewed col-lg-3 col-md-6 d-none d-md-block">
            <div class="image-home" id="image-swim"></div>
        </div>

        <div class="skewed col-lg-3 d-none d-lg-block">
            <div class="image-home" id="image-lift"></div>
        </div>

        <div class="skewed col-lg-3 col-md-6 col-12">
            <div class="image-home" id="image-run"></div>
        </div>

        <div class="skewed col-lg-3 d-none d-lg-block">
            <div class="image-home" id="image-kayak"></div>
        </div>
    </div>
</section>

<!-- Features -->
<section>
    <div class="container-fluid mt-3">

        <div class="row">
            <div class="col-md-6 col-sm-12 text-center my-auto">
                <h2 class="text-uppercase "> Set Goals <br> Log Activity & Nutrition <br> Stay on track </h2>
                <a href="{% url 'account_signup' %}" class="btn text-white btn btn-lg btn--red mt-3" role="button"> Try it now! </a>
            </div>
            <div class="col-6 d-none d-md-block my-5">
                <div class="image-box" id="image-trend"></div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% endif %}

